{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'style_homepage.css'%}">
  <title>Error 707</title>
</head>
<body>
  <div class="container">
    <img src="{% static 'logo.png'%}" alt="Imagem Restrita" class="banner">
    <h1>Error 909: Nome ou Senha incorretos!</h1>
    <p>By github.com/Dzz77</p>
    <img src="https://media1.tenor.com/m/r1FFsx0mxRIAAAAd/full-game-requested-experience-is-full.gif" alt="Imagem Restrita" class="banner">
  </div>
</body>
</html>