{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restricted Area</title>
  <link rel="stylesheet" href="{%static 'style_homepage.css'%}">
</head>
<body>
  <div class="container">
    <img src="{% static 'logo.png'%}" alt="Imagem Restrita" class="banner">
    <h1>Você entrou na Restricted Area!</h1>
    <p>By github.com/Dzz77</p>
    <img src="https://media.tenor.com/ciegZ6-LGR4AAAAj/cool-link-shades.gif" alt="Descrição do GIF">
  </div>
</body>
</html>
